# LankaData Hub - FastAPI Service Environment Configuration
DATABASE_URL=postgresql://postgres:postgres@lankadata_postgres:5432/lankadata_hub
API_SECRET_TOKEN=ldh_secret_7385b02f3201f0768ca721dfc6bac192ba8098326491f0215b42efb07b138199

APP_ENV=production
APP_DEBUG=false
APP_PORT=8001
CORS_ORIGINS=*
